.navbar-brand .navbar-item {
    font-family: 'Pacifico', cursive;
    font-size: 0.25rem;
    position: fixed;
    padding:5px;
    margin-bottom: 5px;
}
.navbar-brand a{
    font-size:medium;
}
.nav-link{
    font-size: medium;
    padding:0;
}
.main-title {
    padding:10px;
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}

body {
    padding-top: 70px;
    background-color: lightgreen;
}

.container h1 {
    text-align: center;
    margin:0;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;  
}



.container h1:hover{
    background-color: #A8E6CF;
}
.container h5:hover{
    color: #A8E6CF;
    cursor: pointer;

}


